@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary: white;
  --secondary: darkslategray;
  --tertiary: rgb(238, 238, 238);

  --navbar-primary: rgb(85, 90, 116);
  --navbar-secondary: rgb(167, 180, 223);
  --navbar-highlight: rgb(110, 112, 134);
  --navbar-item-pad: 5px;
  --navbar-collapse-size: 60px;
  --navbar-expand-size: 200px;
  --navbar-icon-size: 40px;

  --navbar-transition-duration: .2s;
  --navbar-transition-delay: 2s;

  --header-collapse-size: 60px;
  --header-expand-size: 200px;

  --header-primary: ghostwhite;
  --header-frame-size: 25px;
  --header-actions-primary: white;
  --resize-border-size: 2px;

  --content-pad: 10px;

  --font-inter: 'Inter', sans-serif;
  --font-dmsans: 'DM Sans', sans-serif;

  --card-stack-gap: 10px;
  --card-width: 200px;
  --card-ratio-x: 5;
  --card-ratio-y: 7;
  --card-ratio: var(--card-ratio-x) / var(--card-ratio-y);
  --card-height: calc(var(--card-width) * var(--card-ratio-y) / var(--card-ratio-x));
  --card-header-size: 50px;
  --card-info-pad: 10px;

  --preview-border-primary: rgb(145, 145, 145);
  --preview-border-secondary: rgb(136, 136, 177);
  --preview-primary: rgb(100, 101, 131);
  --preview-secondary: rgb(185, 185, 185);
  --preview-shadow: rgb(69, 64, 100);
  --preview-padding: 6px;
  --preview-gap: 16px;


  font-family: "Inria Serif";
  line-height: 1.5;
  font-weight: 400;
  color: var(--secondary);
  background-color: #ffffff00;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: clip;
  scroll-behavior: smooth;
}

#root {
  /* margin-left: var(--navbar-collapse-size); */
  /* padding: 10px; */
  display: flex;
  width: 100%;
  height: 100%;
}

/* Width and height of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0);
}

/* Style of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Style of the scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#application-root {
  display: grid;
  grid-template-columns: [resize-area-start] var(--resize-border-size) [content-start header-start] 1fr [content-end header-end] var(--resize-border-size) [resize-area-end];
  grid-template-rows: [resize-area-start] var(--resize-border-size) [header-start] var(--header-frame-size) [header-end content-start] 1fr auto [content-end] var(--resize-border-size) [resize-area-end];
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 2px;
}

.window-actions {
  &.pin {
    padding: 4px;
    stroke-width: 3;
    /* balances out with other icons once shrunk */
  }
}

#frame-header {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--tertiary);
  /* border-bottom: var(--resize-border-size) solid var(--secondary); */
  box-sizing: border-box;
  -webkit-app-region: drag;
  padding: 0 10px 0;

  color: var(--secondary);

  & .lucide {
    width: var(--header-frame-size);
    height: var(--header-frame-size);
    -webkit-app-region: no-drag !important;
    opacity: 50%;

    &.static {
      opacity: 100%;
    }

    &:hover:not(.static) {
      opacity: 100%;
      color: var(--secondary);
      /* each app is themed differently? */
    }
  }

  #frame-title {
    flex-basis: 100%;
  }
}

#resizable-area {
  grid-area: resize-area;
  background-color: var(--secondary);
  z-index: -1;
}

#content-root {
  grid-area: content;
  background-color: var(--primary);
  /* padding: 0 10px 0 10px; */
  display: flex;
  flex-flow: column;
  overflow: auto;
}

.content {
  height: auto;
}

.root {
  --bounce-dur: .4s;
  --bounce: cubic-bezier(.47, 1.64, .41, .8);
  /* padding: 10px; */

  &.draggable {
    & .root-selector {
      --primary: ghostwhite;
      --secondary: darkgrey;
      opacity: 50%;
    }
  }
}

.library {
  --primary: white;
  --secondary: dodgerblue;
}

.import {
  --primary: white;
  --secondary: darkmagenta;
}

.quickAdd {
  --primary: white;
  --secondary: rgb(150, 150, 0);
}

.app-selector.settings {
  --primary: white;
  --secondary: grey;
}

.app-selector.focus {
  --primary: white;
  --secondary: darkcyan;
}

.app-selector.pin {
  --primary: white;
  --secondary: green;

  &.pinned {
    --primary: green;
    --secondary: white;
  }
}

.app-selector.quit {
  --primary: white;
  --secondary: darkred;
}

.circle {
  --icon-colour: var(--secondary);
  transition: transform var(--bounce-dur) var(--bounce), fill var(--bounce-dur) var(--bounce);
  r: calc(var(--radius)/2);
  fill: var(--primary);
  stroke: var(--secondary);
  stroke-width: 2px;
}

.icon {
  transform: translate(var(--x), var(--y));
  transition: transform var(--bounce-dur) var(--bounce);
  pointer-events: bounding-box;

  & .lucide {
    color: var(--secondary);
    stroke-width: 2;
    pointer-events: none;
  }

  &:hover {
    & .circle {
      stroke: var(--primary);
      fill: var(--secondary);
    }

    & .lucide {
      color: var(--primary) !important;
    }
  }
}

@keyframes anvil {
  0% {
    transform: scale(1) translateX(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  1% {
    transform: scale(0.96) translateX(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  100% {
    transform: scale(1) translateX(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-content {
  animation: anvil 0.1s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  -webkit-animation: anvil 0.1s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  font-style: italic;
  font-size: .7em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  color: mintcream;
  background-color: darkslategray;
  padding: 2px;
  border-radius: 2px;

  & * {
    fill: darkslategray;
    border-radius: 1px;
  }
}

.app-header {
  --header-height: 60px;
  display: flex;
  width: 100%;
  height: var(--header-height);
  background-color: var(--tertiary);
  align-items: center;
  /* justify-content: center; */
  padding: 0 5px 0 5px;
  gap: 5px;
}

.button {
  --button-primary: white;
  --button-secondary: darkslategray;
  --button-border: transparent;

  transition: background-color .2s ease-out, color .2s ease-out;

  display: inline-flex;
  align-items: center;

  text-align: justify;
  text-wrap: nowrap;
  white-space: nowrap;

  font-weight: 100;

  color: var(--button-primary);
  background-color: var(--button-secondary);
  border: 1px solid var(--button-border);
  border-radius: 5px;

  cursor: pointer;

  &:disabled {
    --button-secondary: grey !important;
    cursor: not-allowed;
  }

  &.confirm {
    --button-secondary: green;
  }

  &.cancel {
    --button-secondary: darkred;
  }

  &.invisible:not(:hover) {
    color: var(--button-secondary);
    background-color: transparent;
  }
}
